<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="common/css/common.css">
    <link rel="stylesheet" href="common/css/Element-2.15.1.css">
    <script src="common/js/vue.js"></script>
<!--    <script src="common/js/vue-router.js"></script>-->
    <script src="common/js/Element-2.15.1.js"></script>
</head>

<body>
<div id="app" style="height: calc(98vh)">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="initial" style="background-color: #1a2b3c;">
            <el-menu
                    class="el-menu-vertical-demo"
                    background-color="#1a2b3c"
                    text-color="#fff"
                    active-text-color="#ffd04b"

                    :default-active="defaultPage"
                    :unique-opened="true"
                    :collapse="isCollapse">
                <el-submenu index="1">
                    <template slot="title">
                        <i class="el-icon-menu"></i>
                        <span>菜单</span>
                    </template>
                    <el-menu-item v-for="(item,i) in menuItems" :key="i" :index="item.path" :route="item.path">
                        {{ item.name }}
                    </el-menu-item>
                </el-submenu>
            </el-menu>
        </el-aside>
    </el-container>

    <el-container>
        <router-view></router-view>
    </el-container>
</div>
</body>
<script src="vue/app.js"></script>

</html>

