<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jQuery左侧固定侧边栏菜单代码</title>

    <link rel="stylesheet" type="text/css" href="../css/home/default.css">
    <!--<link href="http://fonts.useso.com/css?family=Open+Sans:400,700,600" rel="stylesheet" type="text/css">-->
    <!-- google fonts -->
    <link rel="stylesheet" href="../css/common/font-google.css" type="text/css" media="all">
    <!--必要样式-->
    <link href="../css/home/font-awesome.min.css" rel="stylesheet">
    <link href="../css/home/app.css" rel="stylesheet" type="text/css">

</head>
<body>

<div id="contentWrapper">
    <div id="contentLeft">
        <ul id="leftNavigation">
            <li class="active">
                <a href="#"><i class="fa fa-coffee leftNavIcon"></i> About us</a>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Our History</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Our Team</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-flask leftNavIcon"></i> Products</a>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Garden</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Office</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Home</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-truck leftNavIcon"></i> Services</a>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Garden</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Office</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Home</a>
                    </li>
                </ul>
            </li>
            <li class="clickable">
                <a href="#"><i class="fa fa-envelope-o leftNavIcon"></i> Contact us</a>
            </li>
        </ul>
    </div>

    <div id="contentRight">
        <header class="htmleaf-header">
            <h1>jQuery左侧固定侧边栏菜单代码</h1>
        </header>

    </div>

</div>

<script type="text/javascript" src="js/common/jquery-3.5.1.js"></script>
<script type="text/javascript" src="js/home/jquery.ssd-vertical-navigation.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#leftNavigation').ssdVerticalNavigation();
    });
</script>
</body>
</html>