<!DOCTYPE html>
<html lang="zxx">

<head>

    <title>Sunday</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all">
    <!-- google fonts -->
    <link rel="stylesheet" href="css/font-google.css" type="text/css" media="all">

</head>

<body>

<section class="main">
    <div class="bottom-grid">
        <div class="logo">
            <h1><a> Golden Gate Bridge</a></h1>
        </div>
    </div>
    <div class="content-w3ls">
        <div class="text-center icon">
            <span class="fa fa-meetup"></span>
        </div>

        <div class="content-bottom">
            <el-form :model="loginForm" class="field-group">
                <!--  用户名 -->
                <div class="field-group">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <el-input v-model="loginForm.username" placeholder="Username" required></el-input>
                    </div>
                </div>
                <!--  密码-->
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <el-input name="password" v-model="loginForm.password" placeholder="Password"></el-input>
                    </div>
                </div>
                <!--  登入按钮 -->
                <div class="wthree-field">
                    <el-button type="submit" class="btn" @click="login('loginForm')">Sign in</el-button>
                </div>
            </el-form>
        </div>
    </div>
    <!--  版权信息 -->
    <div class="copyright">
        <p>© 2021 Golden Gate Bridge. All rights reserved | Design by AD</p>
    </div>
</section>

</body>

</html>
